name: Deploy to GitHub Pages

on:
    push:
        branches:
            - app

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: 'pages'
    cancel-in-progress: false

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Use Node.js 18.x
              uses: actions/setup-node@v2
              with:
                  node-version: '18.x'

            - name: Checkout Repository
              uses: actions/checkout@v2

            - name: Install Dependencies
              run: npm install

            - name: Build
              run: npm run build

            - name: Deploy to GitHub Pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                  publish_dir: ./dist
                  github_token: ${{ secrets.GITHUB_TOKEN }}
